@import "tailwindcss";

/* Base colors (CSS variables) for default dark mode */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Apply variables to body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
